:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #ec1e64;
  --bs-secondary: #10495c;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Poppins", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}

:root {
  --bg-dark: #020020;
  --orange: #ff7c31;
  --orange-medium: #ff6b16;
  --orange-dark: #ff5e00;
  --color-100: #ffffff;
  --color-500: #a0a0a0;
  --color-900: #000000;

  --font-sans: ;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --fs-xxs: 12px;
  --fs-xs: 13px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 22px;
  --fs-heading: 32px;

  --border-radius: 4px;
  --nav-height: 60px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background-color: var(--bg-dark);
  font-family: var(--font-sans);
  overflow-x: hidden;
  color: var(--color-100);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav {
  width: 100%;
  height: var(--nav-height);
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

div {
  display: block;
}
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}
h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

.highlight {
  color: var(--orange-medium);
}

.nav-container {
  padding: 1em 0em 1em 2em;
  width: 100%;
  height: 100%;
}

.logo {
  width: auto;
  height: 10rem;
}
.nav-links {
  height: 100%;
}
.nav-links li {
  list-style: none;
}

li a,
.search-icon {
  padding: 0em 0.785em;
  display: block;
  color: var(--color-100);
  text-decoration: none;
  font-size: var(--fs-md);
  font-family: var(--font-sans);
  font-weight: 500;
  letter-spacing: 1px;
}

.hamburger-icon {
  width: 3.75rem;
  height: var(--nav-height);
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-dark);
}

.hero {
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  width: 100%;
}
.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}
strong {
  font-weight: bold;
}
b,
strong {
  font-weight: bolder;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.ms-auto {
  margin-left: auto !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (min-width: 992px) {
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }
}
.row > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.hero .heading {
  font-size: 80px;
  font-weight: 700;
}

/* section-1  */

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.pt-0 {
  padding-top: 0 !important;
}

@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66667%;
  }
}
@media (min-width: 992px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol,
ul {
  padding-left: 2rem;
}
.links-underline li {
  margin-bottom: 4px;
}
.links-underline a {
  text-decoration: underline;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}
a {
  color: var(--orange);
  text-decoration: underline;
}
/* section 1 ends */

/* services starts */
.bg-light {
  background-color: var(--orange) !important;
}
.heading-wrap .heading {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  padding-left: 100px;
}

.heading-wrap .heading::before {
  top: 25px;
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ec1e64;
}
.btn.btn-primary {
  background-color: var(--bg-dark);
  color: #fff;
  border: 2px solid transparent;
}
.btn {
  padding: 12px 20px;
  border-radius: 0;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img,
svg {
  vertical-align: middle;
}
.service .thumb,
.team .thumb {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.d-block {
  display: block !important;
}
.g-5 {
  --bs-gutter-y: 3rem;
}
.g-5 {
  --bs-gutter-x: 3rem;
}
.service h3,
.service .h3,
.team h3,
.team .h3 {
  font-size: 20px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
/* services ends */

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 1024px;
  }
}

/* cursor style starts */
.cursor-body {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.cursor .cursor--small,
.cursor .cursor--large,
.cursor .cursor--text {
  position: absolute;
  z-index: 300;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: var(--cursor-size);
  height: var(--cursor-size);
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
}
.cursor .cursor--text {
  --cursor-size: fit-content;
  font-size: 0.75rem;
  color: #fff;
  opacity: 0;
}
.cursor .cursor--text .text {
  font-family: sans-serif;
  font-weight: bold;
}
.cursor .cursor--small {
  --cursor-size: 20px;
  background: #fff;
}
.cursor .cursor--large {
  --cursor-size: 60px;
  border: 2px solid #fff;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  position: relative;
  font-size: var(--fz-lg);
  font-family: "Sainte Colombe";
  text-decoration: none;
  /* color: var(--medium-slate-blue); */
  cursor: none;
  transition: color 300ms ease;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease;
}
.link:hover {
  --color: rgb(255, 255, 255);
}

.cursor-body .link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
/* cursor style ends */
